<div class="bg-[#072F6A] text-white text-regular py-2">
    <div class="container mx-auto flex flex-col md:flex-row justify-between items-center px-4 text-center md:text-left">
      <!-- Working Hours -->
      <div class="mb-1 md:mb-0">
        Mon - Fri: 9:00 - 19:00 / Closed on Weekends
      </div>
      <!-- Contact Information -->
      <div>
        Call us for any question: <span class="text-white font-regular text-base">(+00) 888.666.88</span>
      </div>
    </div>
  </div>